<div class="form-wrapper">
<h1>ログイン</h1>
  <%= form_for(resource, as: resource_name, url:session_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-item">     
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder: "メールアドレス"%>
    </div>
    <div class="form-item"> 
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード" %>
    </div>
    <div class="button-panel">
      <%= f.submit "ログイン",class: 'button' %>
    </div>
  <% end %>
  <div class="form-footer">
    <%= render "devise/shared/links" %>
  </div>
</div>
