<!DOCTYPE html>
<html>
  <head>
    <title>Potetravel</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header-inner">
        <div class="header-left-nav">
          <a href="/"><img alt="サイトのロゴ画像" src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png"></a>
          <form action="https://presite-potepancamp-rails-02.herokuapp.com/rooms/search" accept-charset="UTF-8" method="get">
            <div class="header-sharch d-lg-inline-block d-none">
              <input type="text" name="area" id="area" value="" class="form-control" placeholder="エリア">
              <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="header-sharch d-lg-inline-block d-none">
              <input type="text" name="keyword" id="keyword" value="" class="form-control" placeholder="キーワード">
              <i class="fas fa-search"></i>
            </div>
            <input type="submit" name="commit" value="" class="d-none" data-disable-with="">
          </form>    
        </div>
        <div class="header-right-nav">
          <div class="nav-item">
            <ul class="header-nav-menu" style="display: block;">
              <% if user_signed_in?%>  
                <li><a href="/rooms/new">ルーム登録</a></li>
                <li><a href="/reservations">予約済みルーム一覧</a></li>
                <li><a href="/rooms/posts">登録済みルーム一覧</a></li>
                <li><%= link_to '設定',user_url(current_user.id) %></li>
                <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
                <h1><%=current_user.name%></h1>
              <% else %>
                <li><%= link_to 'サインアップ', new_user_registration_path, class: 'btn btn-primary' %></li>
                <li><%= link_to 'ログイン', new_user_session_path, class: 'btn btn-secondary'%></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </header>
    
    <div class='notifications'>
      <%if flash.notice.present?%>
      <div class ='notice'>
        <%=flash.notice%>
      </div>
      <%end%>
    </div>

    
    <%= yield %>


    <div class="footerFixed">
      <footer class="footer">
      <p>© 2020 POTEPAN.INC.</p>
      </footer>
    </div>
  </body>
</html>
